<a href="https://colab.research.google.com/github/duytrung/QuanLyTuyenSinh/blob/main/Movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **🎬 Hollywood Data Analysis**

![cover image](https://drive.google.com/uc?id=1Q74k0jius6M_kWRf91zZIJ5BdLzMQpjh)

## **📃 Introduction**

In this Notebook, we'll work with a real dataset about movies. It includes details like the movie title, release year, budget, gross earnings, and more.

We'll cover the following tasks:

* Adding new columns to the dataset by performing basic math operations like addition, subtraction, and division on existing columns.
* Adding new columns to the dataset by comparing values using operations like less-than (<), greater-than (>), and equals (==) on existing columns.
* Dropping single or multiple columns.
* Slicing the dataset by conditins.

Let's get started!

## **1️⃣ Data overview**

### **📥 Data loading**

**Pandas import**

At the first, we need to import Pandas. Write the code to import Pandas in the code cell below.

> ⚠️ Don't forget to use the alias that is regularly used by all Data Analysts to import Pandas library.

In [ ]:
# Enter your code

**Loading data by URL**

The data to work is located in CSV file by the following link: https://raw.githubusercontent.com/RusAbk/sca_datasets/main/movies.csv

Read the given dataset into a pandas dataframe (usually has name `df`)

In [ ]:
# Your code for loading data into dataframe

### **👁️ The first sight**

**Columns**

Also, it's a very common action at the beginning to output the list of all the columns in the dataframe.

In [ ]:
# Your code showing the list of columns

**Data structure overview**

Another common action is to check the data structure. Output an overview of the columns in the cell below.

In [ ]:
# Your code showing dataframe columns' types

**The first 5 rows**

Before performing any operation with data, you need to take a look to ensure that everything is okay with the loaded data.

In the cell below, write a code to output the first 5 rows of the dataframe.

In [ ]:
# Your code showing the first 5 row

### **📊 Basic descriptive statistics**

Show the basic descriptive statistics for the entire dataframe.

In [ ]:
# Your code showing descriptive statistics for the dataframe

## **2️⃣ Data operations**

### **🤑 Create a new column revenue**

Let's insert a new column called **"revenue"** into the dataframe.

This column should show the difference between the values in the **"gross"** and **"budget"** columns.

In [ ]:
# Enter your code

In [ ]:
# Show the first 5 rows again to check

### **% Create a new column `percentage_profit`**

Then let's create a new column named **"percentage_profit"** in the dataframe.

We'll compute its values as the ratio of revenue to gross earnings, multiplied by 100 for each row.

> 👉For instance, if the **gross earnings** are 200 USD and the **revenue** is 100 USD, the **percentage_profit** will be 50%
>
> `(100 / 200) * 100 = 50`

In [ ]:
# Enter your code

In [ ]:
# Show the first 5 rows again to check

### **💎 Create a new column `high_budget_movie`**

Introduce a new column named **"high_budget_movie"** into the dataframe.

This column will mark each movie as `True` if its budget **exceeds 100 million**, or `False` if it does not.

In [ ]:
# Enter your code

In [ ]:
# Show the first 5 rows again to check

### **💪 Create a new column `successful_movie`**

Now let's append a new column to the dataframe called **"successful_movie"**.

In this column, assign the value `True` if a movie's **percentage_profit** exceeds 50, and `False` otherwise.

In [ ]:
# Enter your code

In [ ]:
# Show the first 5 rows again to check

### **🏆 High-Rated Movies**

Add a new column named **"high_rated_movie"** to the dataframe.

If a **movie's score** exceeds 8, mark it as `True`; otherwise, mark it as `False`.

In [ ]:
# Enter your code

In [ ]:
# Show the first 5 rows again to check

### **🆕 Create a new column `is_new_release`**

Let's add a new column called **"is_new_release"** to the dataframe.

This column will be `True` if the value in the **"year"** column is **after 2020**, and `False` otherwise.

In [ ]:
# Enter your code

In [ ]:
# Show the first 5 rows again to check

### **⏳ Create a new column `is_long_movie`**

Add a new column named **"is_long_movie"** into the dataframe.

If the value in the **"runtime"** column **exceeds 150 minut**es, assign `True`; otherwise, assign `False`.

In [ ]:
# Enter your code

In [ ]:
# Show the first 5 rows again to check

### **📆 Age of Movies**

Create a new column named **age** to calculate the age of the movie in years.

Find it by subtracting the year column from the current year.

In [ ]:
# Your code

In [ ]:
# Show the first 5 rows again to check

## **3️⃣ Dataframe slicing**

### **🥇 Top High-Rated Movies**

Create a new DataFrame named `top10_movies`, which should include the top 10 highly-rated movies.

Sort this DataFrame based on the score column in descending order.

In [ ]:
# Your code

... and output them after (entire dataframe)

In [ ]:
# Your code

### **💎 Only successful ones**

Create a new DataFrame named **successful_movies** containing only the movies that are successful according to the **'successful_movie'** column values.

In [ ]:
# Your code

In [ ]:
# Show the first 5 rows of the nes dataframe to check the result

As the column successful_movie is useles for the created dataframe, it's good idea to remove it. Let's do this.

In [ ]:
# Your code

In [ ]:
# Show the first 5 rows of the nes dataframe to check the result

### **🤖 Sci-Fi Blockbusters**

Create a new DataFrame named **sci_fi_blockbusters** containing movies that are **'Sci-Fi'** genre and have a **gross greater than $150 million**.

In [ ]:
# Your code

In [ ]:
# Show the first 5 rows of the nes dataframe to check the result

### **🏖️ Movies Released in Summer**

Create a new DataFrame containing movies released in June, July, or August.

Store the result in dataframe `summer_movies`.

> 🏋️‍♀️ Please **note that this task cannot be fully solved using the tools and constructions we have covered in the lecture**.
>
> You need to demonstrate resourcefulness and show your skill in searching for information on the internet.

In [ ]:
# Your code

In [ ]:
# Show the first 5 rows of the nes dataframe to check the result