<a href="https://colab.research.google.com/github/duytrung/QuanLyTuyenSinh/blob/main/NBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **üèÄ NBA 1985 Data Analysis**

![cover image](https://drive.google.com/uc?id=1O5bcKSGSvyBWIAP9CIT8i1h0Heisv0Gc)

## **üìÉ Introduction**

It's time to dive into practicing Vectorized Operations with Series.

We'll work with NBA player statistics dating back to 1985. While this exercise focuses on Series, we'll initially read our data into a DataFrame.

You're unfamiliar with Series, and that's okay; just know that each column of a DataFrame is a Series. And a Series is a part of Pandas, that is really similar to NumPy Array.

Let's get started!

## **1Ô∏è‚É£ Data loading & overview**

### **üì• Data loading**

**Pandas import**

At the first, we need to import Pandas. Write the code to import Pandas in the code cell below.

> ‚ö†Ô∏è Don't forget to use the alias that is regularly used by all Data Analysts to import Pandas library.

In [ ]:
# Your code
import pandas as pd

**Loading data by URL**

The data to work is located in CSV file by the following link: https://raw.githubusercontent.com/RusAbk/sca_datasets/main/nba_player_stats_1985.csv

Read the given dataset into a pandas dataframe (usually has name `df`)

In [ ]:
# Your code for loading data into dataframe
df = pd.read_csv('https://raw.githubusercontent.com/RusAbk/sca_datasets/main/nba_player_stats_1985.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2553 entries, 0 to 2552
Data columns (total 24 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   2553 non-null   object
 1   height   2553 non-null   float64
 2   weight   2553 non-null   float64
 3   collage  2237 non-null   object
 4   born     2553 non-null   float64
 5   G        2553 non-null   float64
 6   MP       2553 non-null   float64
 7   FG       2553 non-null   float64
 8   FGA      2553 non-null   float64
 9   FT       2553 non-null   float64
 10  FTA      2553 non-null   float64
 11  3P       2553 non-null   float64
 12  3PA      2553 non-null   float64
 13  2P       2553 non-null   float64
 14  2PA      2553 non-null   float64
 15  ORB      2553 non-null   float64
 16  DRB      2553 non-null   float64
 17  TRB      2553 non-null   float64
 18  AST      2553 non-null   float64
 19  STL      2553 non-null   float64
 20  BLK      2553 non-null   float64
 21  TOV      2553 non-null   float64
 22  PF       2553 non-null   float64
 23  PTS      2553 non-null   float64
dtypes: float64(22), object(2)
memory usage: 478.8+ KB

### **üëÅÔ∏è The first sight**

**Columns**

Also, it's a very common action at the beginning to output the list of all the columns in the dataframe.

In [ ]:
# Your code showing the list of columns

**Data structure overview**

Another common action is to check the data structure. Output an overview of the columns in the cell below.

In [ ]:
# Your code showing dataframe columns' types

**The first 5 rows**

Before performing any operation with data, you need to take a look to ensure that everything is okay with the loaded data.

In the cell below, write a code to output the first 5 rows of the dataframe.

In [ ]:
# Your code showing the first 5 row

## **2Ô∏è‚É£ Calculations**

### **üéØ Field goal accuracy**

**Average field goal accuracy**

Calculate the average **"Field Goal accuracy"** by dividing the sum of field goals (the column FG) by the sum of their total attempts (the column FGA) then multiply by 100.

Store the result in the variable `field_goal_perc`.

In [ ]:
# Your code to calculate
field_goal_perc = df['FG'].sum() / df['FGA'].sum() * 100

In [ ]:
# Output the value
print("Field_goal_perc (average):" , field_goal_perc)

**Field goal accuracy only for Michael Jordan**

Now let's check one of the most famous players in the NBA history: **Michael Jordan**.

Calculate the **"Field Goal accuracy"** only for Michael Jordan.

Store the result in the variable `mj_field_goal_perc`.

> **‚ö†Ô∏è Pay attention!**
>
> In the dataset his name is `'Michael Jordan*'`.
>
> The star (*) next to the player's name is because that player was selected for the "Hall of Fame" of the NBA.

In [ ]:
# Your code to calculate

In [ ]:
# Output the value
print("Michael Jordan's field_goal_perc:" , float(mj_field_goal_perc))

### **‚õπüèº‚Äç‚ôÇÔ∏è Field goals per game**

**Average field goals per game**

Calculate the "Field Goals per Game" using the columns FG and games played (column "G").

Store your results in the variable `field_goals_per_game`

In [ ]:
# Your code to calculate

In [ ]:
# Output the value
print("Field_goals_per_game (average):" , field_goals_per_game)

**Field goal accuracy only for Michael Jordan**

Now let's do the same, but only for **Michael Jordan**.

Calculate the **"Field Goal accuracy"** only for Michael Jordan.

Store the result in the variable `mj_field_goals_per_game`.

In [ ]:
# Your code to calculate

In [ ]:
# Output the value
print("Michael Jordan's field_goals_per_game:" , float(mj_field_goals_per_game))

### **‚ûï Add the column 'Total Points'**

In the NBA lingo, field goals account for all the "goals" (column "FG") scored by a player, EXCEPT free throws (column "FT").

So, if we want to calculate the total number of points scored by a player, we must add field goals and free throws.

Field goals are a combination of 2-point and 3-point goals. For this exercise, you can safely assume that all "field goals" have a value of 2.

Calculate Total Points scored by a player, by adding the series containing field goals and free throws. Store your results in the new column `total_points`.

In [ ]:
# Your code adding total_points column

In [ ]:
# Output the first 5 dataframe rows

### **‚ùì Statistics on the top 25% by total points?**

Filter top 25% of players by total points and save it into the variable named `ft_top_25perc`

In [ ]:
# Your code

Output descriptive statistics on the dataframe containing the top 25% of players by total points

In [ ]:
# Your code showing statistics